node_modules/
.DS_Store
*.class
*.iml
.idea/
.gradle/
build/
android/local.properties
buzDep.json
package-lock.json
platformDep.json
android/app/.DS_Store

/package-ui-bin/

demo.gif

# CocoaPods
/ios/Pods/
ios/reactnative_multibundler.xcodeproj/project.xcworkspace/xcuserdata/huangchengdu.xcuserdatad/UserInterfaceState.xcuserstate
ios/reactnative_multibundler.xcodeproj/xcuserdata/huangchengdu.xcuserdatad/xcschemes/xcschememanagement.plist
ios/reactnative_multibundler.xcworkspace/contents.xcworkspacedata
ios/reactnative_multibundler.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/reactnative_multibundler.xcworkspace/xcuserdata/huangchengdu.xcuserdatad/UserInterfaceState.xcuserstate
